<p><%=@user.first_name%></p>
<p><%=@user.last_name%></p>
<p><%=@user.email%></p>
<p><%=@user.package%> Package</p>

<% if @user.chat!=nil %>
	<p>You video session has started:</p>
	 <a href="<%=@user.chat.link%>">Link</a>
<% end %>