<div id="newRoom">
  <fieldset>
    <legend>Start a new party room</legend>
<%= form_for(@new_room) do |f| %>
    Party Name: <%= f.text_field :name %><br/><br/>
    Public? <%= f.check_box :public %><br/><br/>

    <%= f.submit %>
<% end %>
</fieldset>
<div>
  <form action="/chats" method="post">
    <%= token_tag nil %>
    <label>Person to chat with:</label>
    <select name="user">
      <% @users.each do |u| %>
        <option value="<%=@user.id%>"><%=@user.first_name%> <%=@user.last_name%></option>   
      <% end %>
    </select>
    <label>Link to chat:</label>
    <input type="text" name="link">
  </form>
</div>
</div>

<fieldset>
  <legend>Existing party rooms</legend>
  <table cellpadding="2" cellspacing="5">
    <tr>
      <th>Name</th>
      <th>Started</th>
    </tr>

    <% @rooms.each do |room| %>
      <tr>
        <td align="center" width="300px"><a href="/party/<%= room.id %>"><%= room.name %></a></td>
        <td><%= room.created_at %></td>
      </tr>
    <% end %>
  </table>
</fieldset>