<div id="newRoom">
  <fieldset>
    <legend>Start a new party room</legend>
<%= form_for(@new_room) do |f| %>
    Party Name: <%= f.text_field :name %><br/><br/>
    <label>Person to chat with:</label>
    <select name="user">
      <% @users.each do |u| %>
        <option value="<%=u.id%>"><%=u.first_name%> <%=u.last_name%></option>   
      <% end %> 
    </select>
    <%= f.submit %>
<% end %>
</fieldset>
</div>

<% if @links.empty? == false %>
  <div>
    <p>Chat links already open:</p>
    <table>
      <% @links.each do |l| %>
      <tr>
        <td><%=l.user.first_name%> <%=l.user.last_name%></td>
        <td><form action="/chats/<%=l.id%>" method="post">
        <%= token_tag nil %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
        </form></td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>