<div id="newRoom">
  <fieldset>
    <legend>Start a new party room</legend>
<%= form_for(@new_room) do |f| %>
    Party Name: <%= f.text_field :name %><br/><br/>
    Public? <%= f.check_box :public %><br/><br/>

    <%= f.submit %>
<% end %>
</fieldset>
</div>
<div>
  <form action="/chats" method="post">
    <%= token_tag nil %>
    <label>Person to chat with:</label>
    <select name="user">
      <% @users.each do |u| %>
        <option value="<%=u.id%>"><%=u.first_name%> <%=u.last_name%></option>   
      <% end %> 
    </select>
    <label>Link to chat:</label>
    <input type="text" name="link">
    <input type="submit">
  </form>
</div>
<% if @links.empty? == false %>
  <div>
    <p>Chat links already open:</p>
    <table>
      <% @links.each do |l| %>
      <tr>
        <td><%=l.user.first_name%> <%=l.user.last_name%></td>
        <td><form action="/chats/<%=l.id%>" method="post">
        <%= token_tag nil %>
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
        </form></td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>
<br />
<fieldset>
  <legend>Existing party rooms</legend>
  <table cellpadding="2" cellspacing="5">
    <tr>
      <th>Name</th>
      <th>Started</th>
    </tr>

    <% @rooms.each do |room| %>
      <tr>
        <td align="center" width="300px"><a href="/party/<%= room.id %>"><%= room.name %></a></td>
        <td><%= room.created_at %></td>
      </tr>
    <% end %>
  </table>
</fieldset>